#green-btn{
	background-color: #31E644;
	float: left;
}
.board{
	background-color: black;
}
#blue-btn{
	background-color: #5496BF;
	float: left;

}
#red-btn{
	background-color: #DF3140;
	float: left;

}
#yellow-btn{
	float: left;
	background-color: #fffb21;
}
.innerCircle{
	text-align: center
}
.btn{
	width: 100px;
	height: 100px;
	margin: 50px 50px 50px 50px;
	padding: 100px 100px 100px 100px;

}
