#green-btn{
	background-color: green;
	float: left;
}
.board{
	background-color: black;
}
#blue-btn{
	background-color: blue;
	float: left;
	
}
#red-btn{
	background-color: red;
	float: left;
	
}
#yellow-btn{
	float: left;
	background-color: yellow;
}
.innerCircle{
	text-align: center
}
.btn{
	width: 100px;
	height: 100px;
	margin: 50px 50px 50px 50px;
	padding: 100px 100px 100px 100px;

}